@page "/whatsite"

<PageTitle>What is this site?</PageTitle>

<h1>What is this site?</h1>

<h2>Glossary</h2>
<div class="glossary">
    <ul>
        <li><a href="https://ichihai.dev">ichihai.dev</a> --- ichihai's website</li>
        <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a> ---  .NET front-end web framework</li>
    </ul>
</div>

<h2>What is the structure?</h2>
<p>
    Sourse code:<a href="https://github.com/Ichihai1415/blazor.ichihai.dev">https://github.com/Ichihai1415/blazor.ichihai.dev</a><br />
    Blazor WebAssemblyで作成し、Cloudflare Pagesにデプロイしています。構造は初期既定のものを少しいじっています。
</p>

<h2>Why use Blazor?</h2>
<p>C#のコード・ライブラリを使えるため。</p>

<h2>Why separate from ichihai.dev?</h2>
<p>管理のしやすさを優先しサブドメインに配置しています。</p>

@code {
}
